@model IEnumerable<WebApplication3.Models.Wypozyczenia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TemplateUser.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Klienci.NrDowodu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plyty.IdPlyty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataWypozyczenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OplataZa1Dzien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZwrotu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doplata)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Klienci.NrDowodu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plyty.IdPlyty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataWypozyczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OplataZa1Dzien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZwrotu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doplata)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdWypozyczenia }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdWypozyczenia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdWypozyczenia })
        </td>
    </tr>
}

</table>
